@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
body {
background: #000000;
background: -moz-linear-gradient(-45deg, #000000 0%, #000000 44%, #FF69B4 100%);
background: -webkit-linear-gradient(-45deg, #000000 0%, #000000 44%, #FF69B4 100%);
background: linear-gradient(135deg, #000000 0%, #000000 44%, #FF69B4 100%);
color: white;
background-attachment: fixed;
}

.App {
  text-align: center;
  margin: 2em;
  font-size: 2vw;
  margin-top: 1vw;
}

.nav-link {
  margin: 1em;
  color: #ff69b4;
  text-decoration: none;
  font-family: 'Space Mono', monospace;
}

.nav-link:hover {
  color: greenyellow;
  text-decoration: none;
}

.my-logo {
  width: 40px;
  margin-top: 15px;
  margin-left: 15px;
}